@import url(https://fonts.googleapis.com/css?family=Oswald);
* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    padding: 20px 50px 20px 50px;
    width:410px;
    margin:20px auto;
}

#subtitle {
    background: black;
    color: white;
    margin: 50px 30px 50px 30px;
    padding: 5px 60px;
    width: 400px;
    margin: auto;
}

.topic {
    background: lightgray;
    width: 90px;
    margin: 80px 30px 60px 30px;
    display: inline-block;
}
